.section_banner {
  width: 100%;
  height: 747px;
  background: url('../img/banner.jpg') no-repeat;
  color: map-get($color, white);
  .section_banner_content {
    padding-top: 300px;
    text-align: center;
    width: 100%;
    height: 100%;
    .section_banner_h3{
      font-size: 26px;
      text-transform: uppercase;
      font-weight: normal;
      padding-bottom: 53px;
    }
    .section_banner_h2{
      padding-bottom: 45px;
      font-size: 42px;
      text-transform: uppercase;
    }
    .section_banner_a{
      padding: 16px 30px;
      border: 2px solid map-get($color, white);
      @include border-radius(5px);
      text-transform: uppercase;
      color: map-get($color, white);
    }
  }
}
