.section_gallery {
  height: 527px;
  width: 100%;
  .section_gallery_article {
    padding-top: 58px;
    .section_gallery_article_item {
      width: 295px;
      height: auto;
      padding-right: 10px;
      float: left;
    }
    .section_gallery_article_item_l {
      padding-right: 0px;
    }
    .section_gallery_article_item img {
      padding-bottom: 20px;
    }
    .section_section_gallery_map {
      width: 100%;
      height: 532px;
    }
  }
}
