.footer {
  height: 85px;
  width: 100%;
  background-color: map-get($color, secondary);
  color: map-get($color, white);
  font-size: 10px;
  .footer_left {
    float: left;
    padding-top: 30px;
  }
  .footer_right {
    padding-top: 30px;
    float: right;
    .footer_right_color {
      color: map-get($color, five);
    }
  }
}
